<domain type="kvm">
  <name>{{ domain_name }}</name>
  <metadata>
    <!-- See https://gitlab.com/libosinfo/osinfo-db/-/tree/main/data/os?ref_type=heads -->
    <libosinfo:libosinfo xmlns:libosinfo="http://libosinfo.org/xmlns/libvirt/domain/1.0">
      <libosinfo:os id="{{ domain_metadata_os_id }}"/>
    </libosinfo:libosinfo>
  </metadata>
  <memory unit="MiB">{{ domain_memory_mib }}</memory>
  <vcpu>{{ domain_vcpus }}</vcpu>
  <os>
    <type arch="{{ domain_os_type_arch }}" machine="{{ domain_os_type_machine }}">hvm</type>
    <boot dev="hd"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <vmport state="off"/>
  </features>
  <cpu mode="host-passthrough"/>
  <clock offset="utc">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
  </clock>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>
  <devices>
    <emulator>{{ qemu_binary }}</emulator>
    {% for disk in domain_disks -%}
    <disk type="{{ disk.type }}" device="{{ disk.device }}">
      <driver name="qemu" type="{{ disk.driver.type }}"/>
      <source file="{{ disk.source.file }}" />
      <target dev="{{ disk.target.dev }}" bus="{{ disk.target.bus }}"/>
    </disk>
    {% endfor -%}
    <controller type="usb" model="qemu-xhci" ports="15"/>
    <controller type="pci" model="pcie-root"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <controller type="pci" model="pcie-root-port"/>
    <interface type="network">
      <source network="default"/>
      <model type="virtio"/>
    </interface>
    <console type="pty"/>
    <channel type="unix">
      <source mode="bind"/>
      <target type="virtio" name="org.qemu.guest_agent.0"/>
    </channel>
    <input type="tablet" bus="usb"/>
    <video>
      <model type="vga"/>
    </video>
    <graphics type='vnc' port='-1' autoport='yes' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>
    <memballoon model="virtio"/>
    <rng model="virtio">
      <backend model="random">/dev/urandom</backend>
    </rng>
  </devices>
</domain>
